<div class="container">
  <div class="posts">
    <div class="posts__left">
      <input type="text" placeholder="Live filter">
      <ul class="posts__list">
        <li>
          <a href="#">
            <p>Item name</p>
            <p>Short item info</p>
            <button class="posts__close">x</button>
          </a>
        </li>
        <li>
          <a href="#">
            <p>Item name</p>
            <p>Short item info</p>
            <button class="posts__close">x</button>
          </a>
        </li>
        <li>
          <a href="#">
            <p>Item name</p>
            <p>Short item info</p>
            <button class="posts__close">x</button>
          </a>
        </li>
        <li>
          <a href="#">
            <p>Item name</p>
            <p>Short item info</p>
            <button class="posts__close">x</button>
          </a>
        </li>
      </ul>
    </div>
    <div class="posts__right">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque dolorem hic qui suscipit vitae. Consequuntur in ullam voluptatibus! Accusamus ad alias aperiam atque aut corporis delectus dicta eaque eligendi et fugit incidunt itaque, molestias necessitatibus neque, nihil nobis numquam odit quia quisquam quod totam voluptatum? Delectus distinctio dolor labore mollitia.</p>
    </div>
  </div>
</div>
